<head>
    {% load static %}
    <title>Welcome to VotingApp!</title>
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon"/>
    <!-- Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <!--Bootstrap -->
    <link rel="stylesheet" type "text/css" href="{% static 'style.css' %}" />
</head>
<nav id="UpperMenu" class="navbar fixed-top navbar-expand-lg navbar-dark" style="background-color: #482366">
  <img src="https://images.vexels.com/media/users/3/142418/isolated/lists/74169eab117a2293ce11bdf6e445105c-sans-serif-v-fuente.png" style="height: 40px; width: 40px">  
  <a class="navbar-brand" href="#"> VotingApp</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/login">Log In/Sign Up</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/vote">Vote<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/eliminate">Eliminate</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/results">View Results</a>
      </li>            
    </ul>
  </div>
  {% if username %}
  <div class="pull-right">
        <ul class="nav navbar-nav">     
            
            <li class="nav-item">
              <div style="color: #ddd; position:relative; top: 8px">
                Welcome, {{ username }} &nbsp; &nbsp;
              </div>
            </li>
            <li class="nav-item">
            <a class="btn btn-outline-secondary nav-link" name="logout" id="logout" href="/logout">Log Out</a>
            </li>          
        </ul>     
  </div>
  {% endif %}
</nav>
<body>
<div class="outer">
  <div class="middle">
    <div class="inner">
      {% for x in singers %}
      <div class="participant">        
        <div id="{{ x.id }}" class="singer-display">      
        </div>
        <script type="text/javascript">
          document.getElementById("{{ x.id }}").style.backgroundImage="url('{{ x.img.url }}')";          
        </script>
        <div class="description">
          <h2>{{ x.name }}</h2><p>
            {{ x.bio }}
        </div>
        {% if signed %}
        <div class="voting-section">
          <a class="btn btn-success nav-link" name="vote" id="vote{{ x.id }}" href="/vote/participant/{{ x.id }}/">Vote for <br> {{ x.name }}</a>
        </div>
        {% elif voted %}
        <div class="voting-section">
          <a class="btn btn-outline-success nav-link disabled" name="vote" id="vote{{ x.id }}" href="/vote/participant/{{ x.id }}/">You Voted For <br> {{ votedfor }}</a>
        </div>
        {% else %}
        <div class="voting-section">
          <a class="btn btn-outline-secondary nav-link disabled" name="vote" id="vote{{ x.id }}" href="/vote/participant/{{ x.id }}/">Log In<br>To Vote</a>
        </div>
        {% endif %}
      </div>
      {% endfor %}
    </div>  
  </div>
</div>
</body>